html{
    width: 99%;
    height: 97%;
    
}

body{
    width: 100%;
    height: 100%;
    background-image: url("images/back.jpg");
    
}

main{
    font-family:'Lato', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 1%;
}


.section1, .section2, .section3{
    display: inline-block;
    width: 500px;
    margin-top: 5%;
}

.section2{
    white-space: nowrap;
    text-align: center;
    width: 400px;
}

/*Picture dice*/
.container{
    text-align: center;
    width: 300px;
    height:300px;
}

.container img {
    width: 100px;
    margin-top: 90px;
    margin-left: 10em;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.362);
}


/*All the buttons*/
.Newgame, .RollBtn, .HoldBtn{
    display:block;
    background: none;
    border: none;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.158);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    background-color : white;
}

.RollBtn{
    margin-left: 12em;
}

.HoldBtn{
    margin-left: 13em;
}

ion-icon{
    color: rgb(249, 117, 117);
    margin-right: 5px;
    font-size:large;
}


/*Block of players*/
.ply, .plc{
    height: 50%;
    text-align: center;
    margin: auto;
}

.ply{
    width: 50%;
    height: 40%;
    margin:auto;
}

.plc{
    width: 40%;
    height: 8em;
    background-color: rgb(186, 52, 52);
    margin-top: 50%;
}

.currentLabel1, .currentLabel2 {
    margin-top: 10px;
}

.currentScore1, .currentScore2{
    color:rgb(255, 255, 255);
    font-size: xx-large;
    margin-top: 25px;
}


.global-score1, .global-score2{
    color: red;
    font-size:70px;
    margin-top: 35px;
    font-weight: 500;
}

.redDot{
    color: red;
    background-color: red;
    font-size: medium;
    border-radius: 10px;
}

